body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

// Default hyperlink styles
a {
    color: #767E0F;
    font-weight: bolder;
}

// Responsive header with a background image
header {
    position: relative;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    background: {
        image: url("../images/header-bg.jpg");
        repeat: no-repeat;
        attachment: scroll;
        position: center;
        size: cover;
        position-y: -300px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
    h1 {
        color: white;
        font-size: 12vw;
        position: relative;
        // Shadow so that the text is more legible
        text-shadow: #000 0px 0px 50px;
        margin: 2rem;
    }
    @media screen and (max-width: 1100px) {
        background-position-y: -0;
        h1 {
            font-size: 15vw; 
        }
    }
    @media screen and (max-width: 670px) {
        background-position-y: 0px;
        
        h1 {
            font-size: 20vw;
        }
    }
}

// Responsive content container
.content {
    justify-content: center;

    .subTitleContainer {
        display: flex;
        justify-content: center;
    }
    section {
        padding: 2rem;
        p {
            font-size: 1.5rem;
            line-height: 1.5;
            text-align: justify;
            word-break: break-word;
        }
        // Responsive image container that adapts to the screen size/view port width
        .imageContainer{
            display: flex;
            justify-content: center;
            img {
                width: 50vw;
            }
            @media screen and (max-width: 768px) {
                img {
                    width: 70vw;
                }
            }
        }
    }
    // Two sections with different background colors to differentiate each sub-section
    .sectionOne {
        background-color: #F5F5F5;
    }
    .sectionTwo {
        background-color: #FFDEB1;
    }
}

// Footer styles
footer{
    width: 100%;
    height: auto;
    background-color: #767E0F;
    display: flex;
    max-width: 100%;

    section {
        width: 100%;
        display:flex;
        padding: 1rem;
        justify-content: space-between;
        p{
            margin: 0;
            color: white;
            @media screen and (max-width: 768px) {
                font-size: 0.9rem;
            }
        }
    }
}
#onClickButton {
    font-size: 3.5rem; // Consolidated font-size property
    cursor: pointer;
    position: absolute;
    top: 1vw;
    left: 1vw;
    color: white;
    padding: none;
    margin: none;
}

// Side navigation styles responsive for both mobile and desktop
.sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;

            // adjust text so it doesn't wrap
            white-space: nowrap;
            &:hover {
                color: #f1f1f1;
            }
            // Active link or current page indicator
            &.active {
                color: #ffb570;
            }
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        a {
            font-size: 18px;
        }
    }
}